.Main-Container-CadastroPacientes{
    background-color: #F3F3F3;
    height: 100vh;
    display: flex;
    flex-direction: column;
   
}
.Form-container-pacientes{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    
    
}