.Main-Container-EdicaoUsuarios{
    background-color: #F3F3F3;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.Edicao-container-usuarios{
    display: flex;
    justify-content: center;
    align-items: centers;
    background-color: #F3F3F3;
}