.Main-Container-CadastroRecibos{
    background-color: #F3F3F3;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.Form-container-recibos{
    display: flex;
    justify-content: center;
    align-items: centers;
    background-color: #F3F3F3;
}