.um{
    margin :"15px";
    text-align :"center";
    background-color: "#eeeeee";
    border-width: "10px";
    border-style: "solid";
    border-color: "#27526B";
    border-radius: "20px"
    
}
.dois{
   
        margin :"5px";
        margin-left: "25px";
        text-align:"left";
}
.goku{
    -webkit-text-fill-color: #eeeeee;
}
.vegeta{
    background-color: #27526B;
    margin-left: 85%;
    border-color: #27526B;
    border-radius: 10px;
    
}